html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Arial Italic";
  src: url("../assets/fonts/arial-italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia-italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}
:root {
  --container-padding: 20px;
  --container-padding-tablet: 30px;
  --container-padding-mobile: 10px;
  --main-font-size: 15px;
  --font-family: "Georgia", serif;
  --secondary-font-family: "Arial", sans-serif;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-alabaster: #fafafa;
  --color-asphalt: #545454;
  --color-gray: #4c4c4c;
  --color-dark-gray: #292929;
  --color-light-gray: #f6f6f6;
  --color-silver: #cdcdcd;
  --burger-width: 50px;
  --burger-height: 26px;
  --burger-line-height: 2px;
  --transition-delay: 0.4s ease-in-out;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-gray);
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
  position: fixed;
}

.wrapper,
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.container {
  padding: 0 var(--container-padding);
}

.section-indent {
  padding: 80px 0 100px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 var(--container-padding-tablet);
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 var(--container-padding);
  }
}
.logo {
  min-width: 185px;
  max-width: 187px;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: opacity var(--transition-delay);
}
.logo__small {
  display: block;
  margin-top: 11px;
  padding-left: 4px;
  font-family: var(--secondary-font-family);
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.1em;
  color: var(--color-white);
}
.logo--dark {
  color: var(--color-asphalt);
}
.logo--dark .logo__small {
  color: var(--color-dark-gray);
}
.logo:hover {
  opacity: 0.7;
}

.title {
  max-width: 400px;
  margin: 0;
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--color-asphalt);
}
.title--center {
  margin: 0 auto;
  text-align: center;
}
.title--light {
  color: var(--color-white);
}

.sub-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--color-asphalt);
}

@media (max-width: 767px) {
  .title {
    max-width: 300px;
    font-size: 25px;
  }
}
.btn {
  padding: 0;
  border: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 12px 43px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: var(--color-dark-gray);
  background-color: transparent;
  transition: background-color var(--transition-delay);
}
.btn:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}
.btn--fill {
  border-color: transparent;
  color: var(--color-gold);
  background-color: var(--color-primary);
}
.btn--fill:hover {
  border-color: transparent;
}
.btn:active {
  opacity: 0.7;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.slider__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 9.09%;
       column-gap: 9.09%;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}
.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  color: var(--color-dark-gray);
  background-color: transparent;
  transition: background-color var(--transition-delay), border var(--transition-delay);
  cursor: pointer;
}
.slider__btn--left {
  transform: rotate(180deg);
}
.slider__btn[disabled] {
  border-color: var(--color-silver);
  color: var(--color-silver);
  cursor: auto;
}
.slider__btn:hover:not([disabled], .slider__btn--active) {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}
.slider__btn--active {
  background-color: var(--color-primary);
  cursor: auto;
}
.slider__slide {
  max-width: 270px;
  border-radius: 9px;
  text-align: center;
  background-color: var(--color-alabaster);
  transition: background-color var(--transition-delay), box-shadow var(--transition-delay);
  overflow: hidden;
  cursor: pointer;
}
.slider__slide:hover {
  background-color: var(--color-white);
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider__slide:hover .slider__more {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}
.slider__img {
  height: 100%;
  max-height: 270px;
}
.slider__inner {
  padding: 29px 41px;
}
.slider__title {
  margin-bottom: 30px;
}

.slider--big {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.slider--big .slider__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  max-width: 100%;
  margin-bottom: 61px;
  -moz-column-gap: 3.3%;
       column-gap: 3.3%;
  row-gap: 31px;
}
.slider--big .slider__btns {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 auto;
}
.slider--big .slider__pagination-btn {
  font-size: 20px;
}
.slider--big .slider__btn--left-end {
  transform: rotate(180deg);
}

.header {
  position: relative;
}
.header__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--container-padding);
}
.header--fixed {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
}
.header--fixed .header__container {
  position: static;
  left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav__item:not(:last-child) {
  margin-right: 36px;
}
.nav__link {
  display: block;
  font-family: var(--secondary-font-family);
  color: var(--color-silver);
  transition: color var(--transition-delay);
}
.nav__link:hover:not(.nav__link--active) {
  color: var(--color-alabaster);
}
.nav__link--active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-alabaster);
  cursor: inherit;
}
.nav__link--dark {
  color: var(--color-asphalt);
}
.nav__link--dark:hover:not(.nav__link--active) {
  color: var(--color-dark-gray);
}

.section-pets {
  padding-top: 200px;
  background-color: #f6f6f6;
}
.section-pets__title {
  margin-bottom: 19px;
}

.hero {
  padding-top: 180px;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px 42px;
}
.hero__descr {
  max-width: 460px;
  padding-top: 163px;
}
.hero__slogan {
  display: block;
  max-width: 310px;
  margin-bottom: 42px;
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
  color: var(--color-white);
}
.hero__text {
  margin-bottom: 42px;
  font-family: var(--secondary-font-family);
  color: var(--color-silver);
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 120px;
  max-width: 851px;
  padding: 0;
}
.about__text-wrapper {
  max-width: 430px;
  padding-top: 15px;
}
.about__title {
  margin-bottom: 23px;
}
.about__text {
  margin: 0;
  font-family: var(--secondary-font-family);
}
.about__text:not(:last-child) {
  margin-bottom: 25px;
}

.our-friends {
  background-color: var(--color-light-gray);
}
.our-friends__slider {
  margin-bottom: 21px;
}
.our-friends__title {
  margin-bottom: 19px;
}
.our-friends__btn {
  display: block;
  max-width: 262px;
  margin: 0 auto;
}

.help__title {
  max-width: 340px;
  margin-bottom: 59px;
}
.help__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 11.63%;
  max-width: 1026px;
  margin: 0 auto;
}
.help__item {
  min-width: 60px;
  max-width: 168px;
  padding-top: 90px;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  background-image: url("../assets/images/icon-pet-food.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center top;
}
.help__item:nth-child(2) {
  background-image: url("../assets/images/icon-transportation.svg");
}
.help__item:nth-child(3) {
  background-image: url("../assets/images/icon-toys.svg");
}
.help__item:nth-child(4) {
  background-image: url("../assets/images/icon-bowls-and-cups.svg");
}
.help__item:nth-child(5) {
  background-image: url("../assets/images/icon-shampoos.svg");
}
.help__item:nth-child(6) {
  background-image: url("../assets/images/icon-vitamins.svg");
}
.help__item:nth-child(7) {
  background-image: url("../assets/images/icon-medicines.svg");
}
.help__item:nth-child(8) {
  background-image: url("../assets/images/icon-collars-leashes.svg");
}
.help__item:nth-child(9) {
  background-image: url("../assets/images/icon-sleeping-area.svg");
}

.in-addition {
  background-color: var(--color-light-gray);
}
.in-addition__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 30px;
  max-width: 953px;
}
.in-addition__img {
  padding-top: 11px;
}
.in-addition__info-wrapper {
  max-width: 378px;
}
.in-addition__title {
  max-width: 300px;
  margin-bottom: 16px;
  letter-spacing: 0.06em;
}
.in-addition__descr {
  margin: 0;
  margin-bottom: 16px;
  letter-spacing: 0.06em;
}
.in-addition__card {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-asphalt);
  background-color: var(--color-primary);
  background-image: url("../assets/images/icon-credit-card.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  transition: background-color var(--transition-delay);
}
.in-addition__card:hover {
  background-color: var(--color-primary-light);
}
.in-addition__info {
  margin: 0;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #b2b2b2;
}

.address__title {
  margin-bottom: 32px;
}

.footer {
  padding-top: 40px;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -moz-column-gap: 10%;
       column-gap: 10%;
  row-gap: 65px;
}
.footer__column {
  padding-top: 17px;
  font-style: normal;
}
.footer__img {
  justify-self: end;
}
.footer__title {
  margin-bottom: 38px;
}
.footer__link {
  display: flex;
  align-items: center;
  min-height: 32px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: opacity var(--transition-delay);
}
.footer__link::before {
  content: "";
  display: inline-block;
  min-width: 22px;
  height: 32px;
  margin-right: 20px;
  background-image: url("../assets/images/icon-marker.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.footer__link--email::before {
  width: 40px;
  background-image: url("../assets/images/icon-email.svg");
}
.footer__link--phone::before {
  width: 40px;
  background-image: url("../assets/images/icon-phone.svg");
}
.footer__link:not(:last-child) {
  margin-bottom: 40px;
}
.footer__link--location:not(:last-child) {
  margin-bottom: 32px;
}
.footer__link:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */